/* text */
   body {
        font-size: large;
        /* newsreader */
        padding: 0;
        margin: 0;
    }
    h1 {
        /* newsreader? */
        text-align: center;
    }

/* divs */  
    .container {
        background-color: blue;
        
        display: flex;
        flex-direction: row;
    }
    .bio {
        background-color: red;
        width: 30vw;
        padding-right: 2vh;
        padding-left: 2vh;
    }
    .articles {
        background-color: yellow;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
    }
    .imgtitle {
        display: flex;
        height: auto;
        width: 90vw;
        align-content: center;
        flex-direction: column;
    }

/* idk */  
    .content {
        background-color: yellowgreen;
    }
    .financeimg {
        width: 100vw;
        height: auto;

    }

/* articles */ 
    .writing {
        width: 60vw;
        height: 20vh;
        background-color: white;
        margin-top: 2vh;
    }