/* text */
   body {
        font-size: large;
        /* newsreader */
        padding: 0;
        margin: 0;
    }
    h1 {
        font-family: Arial;
        font-weight: 400;
        font-size: 2.5vw;
    }
    h2 {
        font-family: Arial;
        font-weight: 400;
        font-size: 2vw;
        text-align: center;
    }
    p { 
        font-family: Arial;
        font-weight: 400;
        line-height: 130%;
        font-size: 1.5vw;
    }
    a {
        text-decoration: none;
        color: black;
      }

/* divs */  
    .container {
        outline: 1px solid black;
        display: flex;
        flex-direction: row;
    }
    .bio {
        padding-top: 2vh;
        width: 30vw;
        padding-right: 3vh;
        padding-left: 3vh;
        outline: 1px solid black;
    }
    .articles {
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
    }
    .imgtitle {
        display: flex;
        height: auto;
        width: 90vw;
        align-content: center;
        flex-direction: column;
    }

/* idk */  

    .financeimg {
        width: 100vw;
        height: auto;
    }

/* articles */ 
    .buttons{
        width: 65vw;
        display: flex;
        justify-content: space-evenly;
    }
    .button {
        background-color: #79CFF8; 
        border: none;
        text-align: center;
        font-size: 2vw;
        padding-top: .5vh;
        padding-bottom: .5vh;
        padding-right: 1vw;
        padding-left: 1vw;
        margin-bottom: 2vh;
        border-radius: 25px;
    }
    .button:hover {
        background-color: #419EC6;
    }
    .writing {
        width: 60vw;
        height: 15vh;
        background-color: white;
        margin-bottom: 2vh;
        outline: 1px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .img {
        /* display: flex;
        width: 20vw;
        height: 20vh;
        margin-right: 2vw;
        align-items: center;
        justify-content: center;

        background-image: url(sinking!.png);
        background-size: cover;
        outline: 1px solid black; */

        display: flex;
        width: 20vw;
        height: 15vh;
        outline: 1px solid black;
        background-size: cover;
        margin-right: 2vw;

    }
    .articleimg{
        display: flex;
        /* width: 20vw; */
        /* width: auto; */
        /* height: auto; */
        /* height: 100%; */
        height: 20vh;
        outline: 1px solid black;
    }
    .byline{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 38vw;
        height: 15vh;
        flex-wrap: wrap;
        padding-bottom: 2vh;
        justify-content: center;

    }
    .credits{
        display: flex;
        flex-direction: column;
        outline: .5px solid black;
        width: 100vw;
        height: 10vh;
        padding-left: 2vh;
    }


    @media only screen and (max-width: 768px) {
        .container {
            flex-direction: column;

            width: 100%;
            align-items: center;
        }
        .bio {
            width: 80vw;
        }
        .buttons{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .button {
            background-color: #79CFF8; 
            font-size: 5vw;
            padding-top: .5vh;
            padding-bottom: .5vh;
            padding-right: 1vw;
            padding-left: 1vw;
            margin-bottom: 2vh;
            border-radius: 25px;
        }

        h1 {
            font-family: Arial;
            font-weight: 400;
            font-size: 2.5vw;
        }
        h2 {
            font-family: Arial;
            font-weight: 400;
            font-size: 7vw;
            text-align: center;
        }
        p { 
            font-family: Arial;
            font-weight: 400;
            line-height: 130%;
            font-size: 5vw;
        }

        .writing {
            width: 90vw;
            height: 30vh;
            background-color: white;
            /* margin-bottom: 2vh; */
            outline: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            /* padding: 3vh; */
        }
        .img {    
            display: flex;
            width: 90vw;
            height: 35vh;
            outline: 1px solid black;
            background-size: cover;
            /* margin-right: 2vw; */
        }
        .byline{
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 90vw;
            height: 15vh;
            flex-wrap: wrap;

            margin-left: 3vw;
    
        }
        
    }